// Specific CSS for your home-page
// .footer {
//   background: #F4F4F4;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 100px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
// .footer .fa-heart {
//   color: #D23333;
// }


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container-home {
  position: relative;
  width: 60%;
  height: 200px;
  margin: 0px auto;
}
#p-home {
  @include centerer;
  background: white;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  height: 64vh;
}

.banner h1{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
}

.banner p {
  text-align: center;
  font-size: 18px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  display: block;
  max-width: 200px;
  margin: auto;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F4BBD3;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #F4D0DF;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.logo {
  background-image: asset-url('logo.png');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.search-form-control {
  position: relative;
  /*margin-bottom: 45px;*/
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 4.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  opacity: 0.6;
}

.search-form-control .form-control:focus {
  border: 1px solid #F4BBD3;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.dropdown-menu {
  font-size: 22px;
  padding: 1px;
  text-align: center;
  font-family: caveat;
}

@media(max-width: 1245px) {
  .container-home {
      width: 60%;
      margin: -70px auto;
  }
}


@media(max-width: 780px) {
  .container-home {
      width: auto;
      margin: -60px 100px;
  }
  .footer-copyright {
    font-size: 15px;
    text-align: center;
  }
  .search-form-control .form-control {
    height: 4rem;
  }
  .navbar-toggler {
    display: contents;
  }
}

@media(max-width: 581px) {
  .container-home {
      width: auto;
      margin: -50px 20px;
  }
}

@media(max-width: 422px) {
  .container-home {
      width: auto;
      margin: -110px 20px;
  }
}

@media(max-width: 368px) {
  .container-home {
      width: auto;
      margin: -120px 20px;
  }
    .btn.btn-flat {
  font-size: 12px;
    padding: 5px;
  }
}

@media(max-width: 306px) {
  .container-home {
    margin: -185px 20px;
  }
  .btn.btn-flat {
  font-size: 12px;
    padding: 5px;
  }
}
// @media(min-width: 300px) {
// .navbar-expand-sm .navbar-nav .dropdown-menu {
//     position: absolute;
// }
// }
