<div class="card-trip">
  <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
  <%= cl_image_tag(cutie.photos[0].key, crop: :fill, gravity: :face) %>
  <div class="card-trip-infos">
    <div>
      <h2>call me <%= cutie.name.upcase! %></h2>
      <p><%= cutie.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= cutie.booking_rate %></h2>
    <!-- <p cl_image_tag "VpG5GBffQYJr8eELY7TDW1NS", class="card-trip-user avatar-bordered"> -->
  </div>
</div>
