<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "dominik-lange-Lion.jpg" %>')">
  <div class="container">
    <h1><strong>Relax</strong> you must – end of the world is not.</h1>
    <p>Learn how to unwind with a cutie you want</p>
    <%= link_to "Book cutie", "/cuties", class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <% @cuties.each do |c| %>
    <div class="row">
        <div class="col-sm-6 col-lg-3 col-xs-12">
            <%= render 'shared/card',cutie: c %>
          </div>
      </div>
    <% end %>
</div>
