<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "dominik-lange-Lion.jpg" %>')">
  <div class="container">
    <h1><strong>Relax</strong> you must – end of the world is not.</h1>
    <p>Learn how to unwind with a cutie you want</p>
    <%= link_to "Book cutie", "/bookings/new", class: "btn btn-flat" %>
  </div>
</div>
