.card-bookings-dashboard {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  .card-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  }
  .card-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }
  .comment-paw {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 115px;
  }

  }
  .create-review {
    font-size: 14px;
    color: #f4bbd3;
  }

  a {
    color: #f4bbd3;
    opacity:.5;
  }
  a:hover {
    color: #f4bbd3;
    opacity: 1;
}
