.card-trip {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 280px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 7px;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0,0,0,0.2);
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 10;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  .card-trip-infos {
    padding-top: 9px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
}
