
.tabs-underlined {
    display: flex;
    align-items: center;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

.user-greeting {
  font-family: "Caveat", "sans-serif";
}

.tab-in-list {
  margin-right: 10px;
  margin-left: 10px;
}

.bookings-acvtive {
  font-family: "Caveat", "sans-serif";
  font-size: 36px;
  color: #f1a3c3;
}

.cuties-active {
  font-family: "Caveat", "sans-serif";
  font-size: 36px;
  color: #f1a3c3;
}

