#map {
  width: 60%;
  height: 600px;
}

.mapboxgl-canvas {
  margin-top: 20px;
}

.flexbox {
  margin: 0 60px;
}

.animal-name {
  text-allign: center;
}

@media(max-width: 768px) {
  .mapboxgl-map {
    margin: 0 auto;
    height: 500px;
  }
  #map {
  width: 90%;
  height: 600px;
}
}
