.navbar-lewagon {
  font-size: 15px;
  justify-content: space-between;
  height: 50px;
  background-color: #EBF5EE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  align: center;
}

#see_all {
  font-size: 15px;
}
.nav-btn {
  margin: 0 !important;
}
