<h1> <%= @cutie.name %> </h1>

<% @bookings.each do |booking| %>

<% booking.reviews.each do |review| %>
<ul>
<li> <%= review.title %></li>
</ul>
<% end %>

<% end %>
<div class="card-booking">
<%= render partial:"bookings/booking_form.html.erb", object: @booking, as: :booking %>
<%#= render "./bookings/booking_form.html.erb", cutie: @cutie, booking: @booking %>
</div>
